SpeechRecognition   == 3.10.4
opencv-python       == 4.10.0.84
ultralytics         == 8.2.76
omegaconf           == 2.3.0
fastapi             == 0.111.1
PyAudio             == 0.2.14
pyttsx3             == 2.91
ollama              == 0.3.1
PyQt6               == 6.7.0
torch               == 2.4.0+cu124
cvzone              == 1.6.1
mediapipe           == 0.10.14